{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/menubar.css' %}">
<body onload="set_menubar_items()">
    <div class="menu-bar">
        <ul>
            {% if active_menubar_item == "About" %}
                <li class="active" ><a href="#">About</a></li>
            {% else %}
                <li><a href="/staff/aboutus/">About</a></li>
            {% endif %}
            {% if active_menubar_item == "Client Form" %}
                <li class="active" ><a href="#">Client Form</a></li>
            {% else %}
                <li><a href="/client/details/">Client Form</a></li>
            {% endif %}
            {% if active_menubar_item == "Membership" %}
                <li class="active" ><a href="#">Membership</a></li>
            {% else %}
                <li><a href="/client/membership">Membership</a></li>
            {% endif %}
            {% if active_menubar_item == "Analytics" %}
                <li class="active" ><a href="#">Analytics</a></li>
            {% else %}
                <li><a href="/staff/analysis/">Analytics</a></li>
            {% endif %}
            {% if active_menubar_item == "Expense" %}
                <li class="active" ><a href="#">Expense</a></li>
            {% else %}
                <li><a href="/staff/expense/">Expense</a></li>
            {% endif %}
            {% if active_menubar_item == "Employee" %}
                <li class="active" ><a href="#">Employee</a></li>
            {% else %}
                <li><a href="/staff/employee">Employee</a></li>
            {% endif %}
                <li><a href="#contact">Contact US</a></li>
            {% if active_menubar_item == "Shop Reg" %}
                <li class="active" ><a href="#">Shop Reg</a></li>
            {% else %}
                <li><a href="/staff/shopreg">Shop Reg</a></li>
            {% endif %}
            {% if active_menubar_item == "Appointment" %}
                <li class="active" ><a href="#">Appointment</a></li>
            {% else %}
                <li><a href="/staff/appointment">Appointment</a></li>
            {% endif %}
            {% if active_menubar_item == "Add Partner" %}
                <li class="active" ><a href="#">Add Partner</a></li>
            {% else %}
                <li><a href="/staff/add_partner">Add Partner</a></li>
            {% endif %}
            <li><a href="#parlour">Select Parlour</a>
                <div class="sub-menu">
                    <ul>
                        <li><a href="#Select">Select</a>
                            <div class="sub-sub-menu">
                                <ul>
                                    {% for shopobj in shop_details %}
                                        <li><a href="/staff/select_parlour/{{shopobj.ShopID}}">{{shopobj.ShopID}} {{shopobj.Shop_Name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        <li><a href="#Edit">Edit</a>
                            <div class="sub-sub-menu">
                                <ul>
                                    {% for shopobj in shop_details %}
                                        <li><a href="/staff/edit_parlour/{{shopobj.ShopID}}">{{shopobj.ShopID}} {{shopobj.Shop_Name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            {% include 'download.html' %}
            <li>
                <div>
                    <form action="/logout/" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</body>
