<div class="form-group">
    <label for="amount">Services:</label>
    <div class="row">
        <div class="col-md-4">
            {% for service_id, service_name in services.hair.items %}
                {% if service_id in served_services %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="services[]" value={{service_id}} checked>
                        <label class="form-check-label">{{service_name}}</label>
                    </div>
                {% else %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="services[]" value={{service_id}}>
                        <label class="form-check-label">{{service_name}}</label>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-4">
            {% for service_id, service_name in services.face.items %}
                {% if service_id in served_services %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="services[]" value={{service_id}} checked>
                        <label class="form-check-label">{{service_name}}</label>
                    </div>
                {% else %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="services[]" value={{service_id}}>
                        <label class="form-check-label">{{service_name}}</label>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-4">
            {% for service_id, service_name in services.other.items %}
                {% if service_id in served_services %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="services[]" value={{service_id}} checked>
                        <label class="form-check-label">{{service_name}}</label>
                    </div>
                {% else %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="services[]" value={{service_id}}>
                        <label class="form-check-label">{{service_name}}</label>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>