<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <!-- <li class="nav-item d-none d-sm-inline-block">
        <a href="/staff/aboutus/" class="nav-link">Home</a>
      </li> -->
      <!-- <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li> -->
    </ul>

    <form class="form-inline ml-1">
      <div class="input-group input-group-sm">
        <div class="input-group-append">
          <a href="/staff/aboutus/" class="nav-link">Home</a>
        </div>
      </div>
    </form>

    <!-- SEARCH FORM -->
    <form class="form-inline ml-1">
      <div class="input-group input-group-sm">
        <div class="input-group-append">
          <a href="/staff/contact_us/" class="nav-link">Contact US</a>
        </div>
      </div>
    </form>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/logout/" class="nav-link">Logout</a>
        </li>
    </ul>
</nav>
<!-- /.navbar -->