{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
    </head>
    <script src="{% static 'common/common.js' %}"></script>
    <script>
        function oninput_contact_number(){
            autocomplete('contact_number', {{memberships|safe}});
            client_details = get_client_details_based_on_contact_number('contact_number', {{memberships|safe}});
            if(client_details != ''){
                document.getElementById('membership_contact').innerHTML="This contact number has already been assigned <b>"+client_details.Name+"</b>, try another Number";
                document.getElementById("submit_button").disabled = true;
            }    
            else{
                document.getElementById('membership_contact').innerHTML= "";
                document.getElementById("submit_button").disabled = false;
            }   
        }
        
        function oninput_custid(){
            client_details = get_client_details_based_on_clientID('custid', {{memberships|safe}});
            if(client_details != ''){
                document.getElementById('custid_span').innerHTML="This Client ID has already been assigned <b>"+client_details.Name+"</b>, try another ID";
                document.getElementById("submit_button").disabled = true;
            }
            else{
                document.getElementById('custid_span').innerHTML= "";
                document.getElementById("submit_button").disabled = false;
            }
        }
    </script>
    
    <style>
        .transaction{
            width:180px;
            text-align:center;
        }
        th, td {
            width:150px;
            height:40px;
        }
    </style>
    <body>

        {% if messages %}
            <script>
                {% for message in messages %}
                    alert("{{ message }}");
                {% endfor %}
            </script>
        {% endif %}
        {% include 'menubar.html' with active_menubar_item="Membership" %}
        <h1>Client Membership</h1>
        <form autocomplete="off" method="post" action="/client/membership/">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        <label for="custid">Client ID</label>
                    </td>
                    <td>
                        <input oninput="oninput_custid()" type="text" id="custid" name="custid" required>
                    </td>
                </tr>
                <tr>
                    <td><span id="custid_span"></span></td>
                </tr>
                <tr>
                    <td>
                        <label for="date">Date of Birth</label>
                    </td>
                    <td>
                        <input type="date" id="DOB" name="DOB" ><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="name">Client Name</label>
                    </td>
                    <td>
                        <input type="text" id="name" name="name">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="sex">Sex</label>
                    </td>
                    <td>
                        <select id="sex" name="sex">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="contact_number">Contact Number</label>
                    </td>
                    <td>
                        <input oninput="oninput_contact_number()" type="text" id="contact_number" name="contact_number" required>
                        <div id="suggestions">
                        </div>
                        <span id="membership_contact"></span>
                    </td>
                </tr>
            </table>
            <input type="submit" id="submit_button" value="Submit">
        </form>
        
        <h1>Membership Records</h1>
        <table border="2">
            <th>Cust ID</th>
            <th>Name</th>
            <th>Sex</th>
            <th>Contact Number</th>
            <th>Date of Birth</th>
            <th>Last Visited</th>
            <th>Avg/visit</th>
            <th>Action</th>
            {% for membership in memberships %}
                <tr>
                    <td class="transaction">{{membership.custID}}</td>
                    <td class="transaction">{{membership.Name}}</td>
                    <td class="transaction">{{membership.Sex}}</td>
                    <td class="transaction">{{membership.Contact_Number}}</td>
                    <td class="transaction">{{membership.DOB}}</td>
                    <td class="transaction">{{membership.last_visit}}</td>
                    <td class="transaction">{{membership.avg}}</td>
                    <td class="transaction"><a href="/client/update_membership/{{membership.custID}}">Edit</a> / <button onclick="popup_confirmation('Do you want to Delete Client Membership?', '/client/delete_membership/{{membership.custID}}/')">Delete</button></td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>