<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
    </head>
    <script>
        function validate_membership_id(){
            var memberships = {{memberships|safe}};
            var user_entered_membership_id = (document.getElementById('custid').value).toUpperCase();
            console.log(user_entered_membership_id)
            var is_membership_exist = false;
            for(i=0; i<memberships.length; i++)
            {
                console.log(memberships[i]);
                if(user_entered_membership_id == memberships[i].custID)
                {
                    is_membership_exist = true;
                    break;
                }
            }
            if(is_membership_exist == true)
            {
                document.getElementById('membership_details').innerHTML="This Membership ID has already been assigned to another Client, try another ID";
                document.getElementById("submit_button").disabled = true;
            }    
            else
            {
                document.getElementById('membership_details').innerHTML= "";
                document.getElementById("submit_button").disabled = false;
            }    
        }
    </script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/menubar.css' %}">
    <style>
        .transaction{
            width:180px;
            text-align:center;
        }
        th, td {
            width:150px;
            height:40px;
        }
    </style>
    <body>

        {% if messages %}
            <script>
                {% for message in messages %}
                    alert("{{ message }}");
                {% endfor %}
            </script>
        {% endif %}
        {% include 'menubar.html' with active_menubar_item="Membership" %}
        <h1>Client Membership</h1>
        <form method="post" action="/client/membership/">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        <label for="custid">Client ID</label>
                    </td>
                    <td>
                        <input onmouseleave="validate_membership_id()" type="text" id="custid" name="custid">
                    </td>
                </tr>
                <tr>
                    <td><span id="membership_details"></span></td>
                </tr>
                <tr>
                    <td>
                        <label for="date">Date of Birth</label>
                    </td>
                    <td>
                        <input type="date" id="DOB" name="DOB" ><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="name">Client Name</label>
                    </td>
                    <td>
                        <input type="text" id="name" name="name">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="sex">Sex</label>
                    </td>
                    <td>
                        <select id="sex" name="sex">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="contact_number">Contact Number</label>
                    </td>
                    <td>
                        <input type="text" id="contact_number" name="contact_number">
                    </td>
                </tr>
            </table>
            <input type="submit" id="submit_button" value="Submit">
        </form>
        
        <h1>Membership Records</h1>
        <table border="2">
            <th>Cust ID</th>
            <th>Name</th>
            <th>Sex</th>
            <th>Contact Number</th>
            <th>Date of Birth</th>
            <th>Last Visited</th>
            <th>Avg/visit</th>
            <th>Action</th>
            {% for membership in memberships %}
                <tr>
                    <td class="transaction">{{membership.custID}}</td>
                    <td class="transaction">{{membership.Name}}</td>
                    <td class="transaction">{{membership.Sex}}</td>
                    <td class="transaction">{{membership.Contact_Number}}</td>
                    <td class="transaction">{{membership.DOB}}</td>
                    <td class="transaction">{{membership.last_visit}}</td>
                    <td class="transaction">{{membership.avg}}</td>
                    <td class="transaction"><a href="/client/update_membership/{{membership.custID}}">Edit</a> / <a href="/client/delete_membership/{{membership.custID}}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>