<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    {% load custom_filter_tags %}
    {% load static %}
    <style>
        th, td {
            width:120px;
            height:25px;
            text-align:center;
        }
    </style>
    <body>
        {% include 'menubar.html' with active_menubar_item="Analytics" %}
        <div id="piechart"></div>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <script type="text/javascript">
        // Load google charts
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(revenue_for_last_6_month);
        google.charts.setOnLoadCallback(number_of_customers_for_last_6_month);
        google.charts.setOnLoadCallback(income_of_the_month);
        google.charts.setOnLoadCallback(number_of_customer_of_the_month);

        function revenue_for_last_6_month() {
                outer = []
                inner = ["Month", "Income", { role: "style" } ];
                outer.push(inner);
                {% for bargraphrevenueobj in revenueBarGraphData %}
                    inner=[]
                    inner.push("{{bargraphrevenueobj.0}}");
                    inner.push({{bargraphrevenueobj.1}});
                    inner.push("red")
                    outer.push(inner);
                {% endfor %}
            var data = google.visualization.arrayToDataTable(outer);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
            { calc: "stringify",
              sourceColumn: 1,
              type: "string",
              role: "annotation" },
            2]);

            var options = {
                title: "Revenue of Last 6 Month",
                width: 1200,
                height: 400,
                bar: {groupWidth: "95%"},
                legend: { position: "none" },
            };

            var chart = new google.visualization.BarChart(document.getElementById("revenuediv"));
            chart.draw(view, options);
        }

        function number_of_customers_for_last_6_month()
        {
            outer = []
                inner = ["Month", "Number of Client", { role: "style" } ];
                outer.push(inner);
                {% for bargraphrevenueobj in revenueBarGraphData %}
                    inner=[]
                    inner.push("{{bargraphrevenueobj.0}}");
                    inner.push({{bargraphrevenueobj.2}});
                    inner.push("light green")
                    outer.push(inner);
                {% endfor %}
            var data = google.visualization.arrayToDataTable(outer);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
            { calc: "stringify",
              sourceColumn: 1,
              type: "string",
              role: "annotation" },
            2]);

            var options = {
                title: "Number of Client in Last 6 Month",
                width: 1200,
                height: 400,
                bar: {groupWidth: "95%"},
                legend: { position: "none" },
            };

            var chart = new google.visualization.BarChart(document.getElementById("numberofcustomersdiv"));
            chart.draw(view, options);
        }

        function income_of_the_month(){

            console.log('income of the month')
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Amount'],
                ['Cash', {{ total_cash_amount_Of_The_Month }}],
                ['Online', {{ total_online_amount_Of_The_Month }}],
            ]);
            // Optional; add a title and set the width and height of the chart
            var options = {'title':'Income', 'width':1200, 'height':400};

            var chart = new google.visualization.PieChart(document.getElementById('incomeofthemonthdiv'));
            chart.draw(data, options);
        }

        function number_of_customer_of_the_month(){

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Number of Customer'],
                ['Cash', {{ number_of_cash_customer_Of_The_Month }}],
                ['Online', {{number_of_online_customer_Of_The_Month}}],
            ]);
            // Optional; add a title and set the width and height of the chart
            var options = {'title':'Number of Customer', 'width':1200, 'height':400};

            var chart = new google.visualization.PieChart(document.getElementById('numberofcustomerofthemonthdiv'));
            chart.draw(data, options);
        }

        </script>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Revenue Data for last 6 Month</h1><br>
        <div id="revenuediv"></div>
        <br>
        <h1>Number of Customers for last 6 month</h1><br>
        <div id="numberofcustomersdiv"></div>
        <br>

        <h1>Customer wise Data</h1><br>
        <table border="2">
            <tr>
                <th>Client ID</th>
                <th>Date</th>
                <th>Time</th>
                <th>Employee</th>
                <th>payment Mode</th>
                <th>Amount</th>
                <th>Number of Client</th>
                <th>Action</th>
            </tr>
            {% for customer_obj in client_data_based_on_shop_id %}
                <tr>
                    <td>{{customer_obj.custID}}</td>
                    <td>{{customer_obj.date}}</td>
                    <td>{{customer_obj.time}}</td>
                    <td>{{customer_obj.employee}}</td>
                    <td>{{customer_obj.payment_mode}}</td>
                    <td>{{customer_obj.amount}}</td>
                    <td>{{customer_obj.numberofclient}}</td>
                    {% if customer_obj.isMember == True %}
                        <td><a href="/client/update_mem_client_visit/{{customer_obj.visitID}}/">Edit</a> / <a href="/client/delete_client_visit/{{customer_obj.visitID}}/">Delete</a></td>
                    {% else %}
                        <td><a href="/client/update_non_mem_client_visit/{{customer_obj.visitID}}/">Edit</a> / <a href="/client/delete_client_visit/{{customer_obj.visitID}}/">Delete</a></td>
                    {% endif %}
                </tr>>
            {% endfor %}
        </table>
        
        <h1>Date wise Data</h1><br>
        <table border="2">
            <tr>
                <th>Date</th>
                <th>Online</th>
                <th>Online Customer</th>
                <th>Cash</th>
                <th>Cash Customer</th>
                <th>Total Amount</th>
                <th>Total Customer</th>
            </tr>
            {% for dateobj in listOfDates %}
                <tr>
                    <td>{{dateobj}}</td>
                    <td>{{ dateobj|total_amount_of_the_day:dayWiseOnlineOfTheMonth}}</td>
                    <td>{{ dateobj|total_numberofcustomer_of_the_day:dayWiseOnlineOfTheMonth}}</td>
                    <td>{{ dateobj|total_amount_of_the_day:dayWiseCashOfTheMonth}}</td>
                    <td>{{ dateobj|total_numberofcustomer_of_the_day:dayWiseCashOfTheMonth}}</td>

                    {% with cashamount=dateobj|total_amount_of_the_day:dayWiseCashOfTheMonth  %}
                        {% with onlineamount=dateobj|total_amount_of_the_day:dayWiseOnlineOfTheMonth %}
                            <td>{{cashamount|add:onlineamount}}</td>
                        {% endwith %}
                    {% endwith %}
                    {% with numberofcashcustomer=dateobj|total_numberofcustomer_of_the_day:dayWiseCashOfTheMonth  %}
                        {% with numberofonlinecustomer=dateobj|total_numberofcustomer_of_the_day:dayWiseOnlineOfTheMonth %}
                            <td>{{numberofcashcustomer|add:numberofonlinecustomer}}</td>
                        {% endwith %}
                    {% endwith %}
                </tr>
            {% endfor %}
        </table>
        <br><br>

        <h1>Cash VS Online of the Month</h1><br>
        <div id="incomeofthemonthdiv"></div>
        <div id="numberofcustomerofthemonthdiv"></div>
    </body>
</html>