{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
    </head>
    <script src="{% static 'common/common.js' %}"></script>
    <style>
        .transaction{
            width:180px;
            text-align:center;
        }
        th, td {
            width:150px;
            height:40px;
        }
        #myBox {
            border: dotted;
            padding: 20px;
            width:100px;
            height: 480px;
            overflow: scroll;
        }
        #leftleftbox {
            float:left;
            width:20%;
            height:480px;
        }
        #leftrightbox {
            float:left;
            width:30%;
            height:480px;
            background:#ffcccb;
        }
        #rightleftbox{
            float:left;
            width:30%;
            height:480px;
        }
        #rightrightbox{
            float:right;
            width:20%;
            height:480px;
        }
    </style>
    <body>
        {% if messages %}
            <script>
                {% for message in messages %}
                    alert("{{ message }}");
                {% endfor %}
            </script>
        {% endif %}
        {% include 'menubar.html' with active_menubar_item="Employee" %}
        <h1>Add Employee</h1>
        <form method="post" enctype="multipart/form-data" action="/staff/employee/">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        <label for="name">Employee Name</label>
                    </td>
                    <td>
                        <input type="text" id="name" name="name" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="contact_number">Contact Number</label>
                    </td>
                    <td>
                        <input type="text" id="contact_number" name="contact_number" oninput="valid_number_status('contact_number', 'span_contact_number')" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="span_contact_number"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="sex">Sex</label>
                    </td>
                    <td>
                        <select id="sex" name="sex">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="date">Date of Joining</label>
                    </td>
                    <td>
                        <input type="date" id="date_of_joining" name="date_of_joining" required><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="position">Position</label>
                    </td>
                    <td>
                        <input type="text" id="position" name="position" required><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="date">Date of Birth</label>
                    </td>
                    <td>
                        <input type="date" id="DOB" name="DOB" ><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="temporary_address">Temporary Address</label>
                    </td>
                    <td>
                        <input type="textarea" id="temporary_address" name="temporary_address">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="permanent_address">Permanent Address</label>
                    </td>
                    <td>
                        <input type="textarea" id="permanent_address" name="permanent_address">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="employee_gov_id">Upload Govt ID</label>
                    </td>
                    <td>
                        <input type="file" id="employee_gov_id" name="employee_gov_id">
                    </td>
                </tr>
            </table>
            <input type="submit" value="Submit">
        </form>
        
        <h1>Employee Records</h1>
        {% for employee in employees %}
            <div id="mybox">
                <div id="leftleftbox"></div>
                <div id="leftrightbox">
                    <b>Name</b>:{{employee.name}}</br>
                    </br>
                    <b>Contact Number</b>:{{employee.contact_number}}</br>
                    </br>
                    <b>Sex</b>:{{employee.sex}}</br>
                    </br>
                    <b>Date of Joining</b>:{{employee.date_of_joining}}</br>
                    </br>
                    <b>Position</b>:{{employee.position}}</br>
                    </br>
                    <b>Date of Birth</b>:{{employee.DOB}}</br>
                    </br>
                    <b>Temporary Address</b>:{{employee.temporary_address}}</br>
                    </br>
                    <b>Permanent Address</b>:{{employee.permanent_address}}</br>
                    </br>
                    <a href="/staff/update_employee/{{employee.EmployeeID}}">Edit</a> / <button onclick="popup_confirmation('Do you want to Delete Employee Data?', '/staff/delete_employee/{{employee.EmployeeID}}/')">Delete</button></br>
                    </br>
                    <a href="/staff/download_appointment_letter/{{employee.EmployeeID}}">Download Appointment Letter</a></br>
                    </br>
                    <a href="/staff/download_employee_govt_id/{{employee.EmployeeID}}">Download Employee Govt ID</a>
                </div>
                <img id="rightleftbox" src="{% static employee.govt_id %}">
                <div id="rightrightbox"></div>
            </div>
        {% endfor %}
    </body>
</html>