{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
    </head>
    <script src="{% static 'common/common.js' %}"></script>
    <style>
        .transaction{
            width:180px;
            text-align:center;
        }
        th, td {
            width:150px;
            height:40px;
        }
    </style>
    <body>
        {% if messages %}
            <script>
                {% for message in messages %}
                    alert("{{ message }}");
                {% endfor %}
            </script>
        {% endif %}
        {% include 'menubar.html' with active_menubar_item="Expense" %}
        <h1>ADD Expense</h1>
        <form method="post" action="/staff/add_expense/">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        <label for="purpose">Transaction Purpose</label>
                    </td>
                    <td>
                        <select id="purpose" name="purpose">
                            <option value="Amount Received">Amount Received</option>
                            <option value="Amount Given">Amount Given</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="purpose">Transaction Date</label>
                    </td>
                    <td>
                        <input type="date" id="date" name="date" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="paymentmode">Payment Mode</label>
                    </td>
                    <td>
                        <select id="paymentmode" name="paymentmode">
                            <option value="Online">Online</option>
                            <option value="Cash">Cash</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="amount">Amount</label>
                    </td>
                    <td>
                        <input type="text" id="amount" name="amount" placeholder="Enter Amount.." oninput="valid_number_status('amount', 'amount_span')" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="amount_span"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="comment">Comment</label>
                    </td>
                    <td>
                        <input type="text" id="comment" name="comment" >
                    </td>
                </tr>
            </table>
            <input type="submit" id="submit" value="Submit">
        </form>
        <h1>Transaction Record of the Month</h1>
        <table border="2">
            <th>Date</th>
            <th>Purpose</th>
            <th>Comment</th>
            <th>Payment Mode</th>
            <th>Amount</th>
            <th>Action</th>
            <tr>
                <td class="transaction"></td>
                <td class="transaction">Total Online</td>
                <td class="transaction">Amount Till current Date</td>
                <td class="transaction">Online</td>
                <td class="transaction">{{total_online_amount_of_the_Month}}</td>
                <td></td>
            </tr>
            <tr>
                <td class="transaction"></td>
                <td class="transaction">Total Cash</td>
                <td class="transaction">Amount Till current Date</td>
                <td class="transaction">Cash</td>
                <td class="transaction">{{total_cash_amount_of_the_month}}</td>
                <td></td>
            </tr>
            <tr>
                <td class="transaction"></td>
                <td class="transaction">Revenue</td>
                <td class="transaction">Amount Till current Date</td>
                <td class="transaction">NA</td>
                <td class="transaction">{{revenue}}</td>
                <td></td>
            </tr>
            {% for transobj in expense%}
            <tr>
                <td class="transaction">{{transobj.date}}</td>
                <td class="transaction">{{transobj.purpose}}</td>
                <td class="transaction">{{transobj.comment}}</td>
                <td class="transaction">{{transobj.paymentmode}}</td>
                <td class="transaction">{{transobj.amount}}</td>
                <td class="transaction"><a href="/staff/update_expense/{{transobj.ExpenseID}}">Edit</a> / <button onclick="popup_confirmation('Do you want to Delete Expense Data?', '/staff/delete_expense/{{transobj.ExpenseID}}/')">Delete</button></td>
            </tr>
            {% endfor %}
            {% for transobj in remaining_balance%}
            <tr>
                <td class="transaction">{{transobj.0}}</td>
                <td class="transaction">{{transobj.1}}</td>
                <td class="transaction">{{transobj.2}}</td>
                <td class="transaction">{{transobj.3}}</td>
                <td class="transaction">{{transobj.4}}</td>
                <td></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>