<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
    </head>
    <script>
        function setTransactionDate(){
            console.log("Hello");
            var d = new Date("{{date}}");
            var day = d.getDate();
            if(day<=9)
                day = '0'+day;
            var month = d.getMonth()+1;
            if(month<=9)
                month = '0'+month;
            console.log();
            document.getElementById("date").value = d.getFullYear()+"-"+month+"-"+day;
        }
    </script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/menubar.css' %}">
    <style>
        .transaction{
            width:180px;
            text-align:center;
        }
        th, td {
            width:150px;
            height:40px;
        }
    </style>
    <body onload="setTransactionDate()">

        {% if messages %}
            <script>
                {% for message in messages %}
                    alert("{{ message }}");
                {% endfor %}
            </script>
        {% endif %}
        <div class="menu-bar">
            <ul>
                <li><a href="/staff/aboutus/">About</a></li>
                <li><a href="/client/details/">Client Form</a></li>
                <li><a href="/client/membership">Membership</a></li>
                <li><a href="/staff/analysis/">Analytics</a></li>
                <li><a class="active" href="#expense">Expense</a></li>
                <li><a href="/staff/employee">Employee</a></li>
                <li><a href="#contact">Contact US</a></li>
                <li><a href="/staff/shopreg">Shop Reg</a></li>
                <li><a href="/staff/add_partner">Add Partner</a></li>
                <li><a href="#parlour">Select Parlour</a>
                    <div class="sub-menu">
                        <ul>
                            {% for shopobj in shop_details %}
                                <li><a href="/staff/selectparlour/{{shopobj.ShopID}}">{{shopobj.ShopID}} {{shopobj.Shop_Name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li><a href="#download">Download</a>
                    <div class="sub-menu">
                        <ul>
                            <li><a href="#Expense">Expense</a>
                                <div class="sub-sub-menu">
                                    <ul>
                                        <li><a href="/staff/download/expense/{{month_list.3}}/{{year_list.3}}">{{month_name.3}}</a></li>
                                        <li><a href="/staff/download/expense/{{month_list.2}}/{{year_list.2}}">{{month_name.2}}</a></li>
                                        <li><a href="/staff/download/expense/{{month_list.1}}/{{year_list.1}}">{{month_name.1}}</a></li>
                                        <li><a href="/staff/download/expense/{{month_list.0}}/{{year_list.0}}">{{month_name.0}}</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#Analysis">Analysis</a>
                                <div class="sub-sub-menu">
                                    <ul>
                                        <li><a href="/staff/download/analysis_render/{{month_list.3}}/{{year_list.3}}">{{month_name.3}}</a></li>
                                        <li><a href="/staff/download/analysis_render/{{month_list.2}}/{{year_list.2}}">{{month_name.2}}</a></li>
                                        <li><a href="/staff/download/analysis_render/{{month_list.1}}/{{year_list.1}}">{{month_name.1}}</a></li>
                                        <li><a href="/staff/download/analysis_render/{{month_list.0}}/{{year_list.0}}">{{month_name.0}}</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#Customer Data">Customer Data</a>
                                <div class="sub-sub-menu">
                                    <ul>
                                        <li><a href="/staff/download/analysis_excel/{{month_list.3}}/{{year_list.3}}">{{month_name.3}}</a></li>
                                        <li><a href="/staff/download/analysis_excel/{{month_list.2}}/{{year_list.2}}">{{month_name.2}}</a></li>
                                        <li><a href="/staff/download/analysis_excel/{{month_list.1}}/{{year_list.1}}">{{month_name.1}}</a></li>
                                        <li><a href="/staff/download/analysis_excel/{{month_list.0}}/{{year_list.0}}">{{month_name.0}}</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div>
                        <form action="/useraccount/logout/" method="post">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <h1>Update Expense</h1>
        <form method="post" action="/staff/update_expense/{{ExpenseID}}/">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        <label for="purpose">Transaction Purpose</label>
                    </td>
                    <td>
                        <select id="purpose" name="purpose" value="{{purpose}}">
                            <option value="Amount Received">Amount Received</option>
                            <option value="Amount Given">Amount Given</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="purpose">Transaction Date</label>
                    </td>
                    <td>
                        <input type="date" id="date" name="date"">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="paymentmode">Payment Mode</label>
                    </td>
                    <td>
                        <select id="paymentmode" name="paymentmode" value="{{paymentmode}}">
                            <option value="Online">Online</option>
                            <option value="Cash">Cash</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="amount">Amount</label>
                    </td>
                    <td>
                        <input type="text" id="amount" name="amount" placeholder="Enter Amount.." value="{{amount}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="comment">Comment</label>
                    </td>
                    <td>
                        <input type="text" id="comment" name="comment" value="{{comment}}">
                    </td>
                </tr>
            </table>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>