<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
    </head>
    <script>
        function setDate(date, id){
            var d = new Date(date);
            var day = d.getDate();
            if(day<=9)
                day = '0'+day;
            var month = d.getMonth()+1;
            if(month<=9)
                month = '0'+month;
            document.getElementById(id).value = d.getFullYear()+"-"+month+"-"+day;
        }
        function onload_behaviour(){
            setDate("{{employee.DOB}}", "DOB");
            setDate("{{employee.date_of_joining}}", "date_of_joining");
            setDate("{{employee.date_of_appointment}}", "date_of_appointment")
        }
    </script>
    {% load static %}
    <style>
        .transaction{
            width:180px;
            text-align:center;
        }
        th, td {
            width:150px;
            height:40px;
        }
    </style>
    <body onload="onload_behaviour()">

        {% if messages %}
            <script>
                {% for message in messages %}
                    alert("{{ message }}");
                {% endfor %}
            </script>
        {% endif %}
        {% include 'menubar.html' with active_menubar_item="NA" %}
        <h1>Update Employee Record</h1>
        <form method="post" enctype="multipart/form-data" action="/staff/update_employee/{{employee.EmployeeID}}/">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        <label for="name">Name</label>
                    </td>
                    <td>
                        <input type="text" id="name" name="name" value="{{employee.name}}" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="contact_number">Contact Number</label>
                    </td>
                    <td>
                        <input type="text" id="contact_number" name="contact_number" value="{{employee.contact_number}}" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="sex">Sex</label>
                    </td>
                    <td>
                        <select id="sex" name="sex" value="{{employee.sex}}">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="date_of_joining">Date of Joining</label>
                    </td>
                    <td>
                        <input type="date" id="date_of_joining" name="date_of_joining" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="position">Position</label>
                    </td>
                    <td>
                        <input type="text" id="position" name="position" value="{{employee.position}}" required><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="DOB">Date of Birth</label>
                    </td>
                    <td>
                        <input type="date" id="DOB" name="DOB">
                    </td>
                </tr> 
                <tr>
                    <td>
                        <label for="temporary_address">Temporary Address</label>
                    </td>
                    <td>
                        <input type="text" id="temporary_address" name="temporary_address" value="{{employee.temporary_address}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="permanent_address">Permanent Address</label>
                    </td>
                    <td>
                        <input type="text" id="permanent_address" name="permanent_address" value="{{employee.permanent_address}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="employee_gov_id">Upload Govt ID</label>
                    </td>
                    <td>
                        <input type="file" id="employee_gov_id" name="employee_gov_id">
                    </td>
                </tr>
            </table>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
