<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
    </head>
    <script>
        function onload_behaviour(){
            set_menubar_items();
            setDate();
        }
        function setDate(){
            console.log("Hello");
            var d = new Date("{{date}}");
            var day = d.getDate();
            if(day<=9)
                day = '0'+day;
            var month = d.getMonth()+1;
            if(month<=9)
                month = '0'+month;
            console.log();
            document.getElementById("date").value = d.getFullYear()+"-"+month+"-"+day;
        }
    </script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/menubar.css' %}">
    <style>
        .transaction{
            width:180px;
            text-align:center;
        }
        th, td {
            width:150px;
            height:40px;
        }
    </style>
    <body onload="onload_behaviour()">

        {% if messages %}
            <script>
                {% for message in messages %}
                    alert("{{ message }}");
                {% endfor %}
            </script>
        {% endif %}
        {% include 'menubar.html' with active_menubar_item="NA" %}
        <h1>Update Expense</h1>
        <form method="post" action="/staff/update_expense/{{ExpenseID}}/">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        <label for="purpose">Transaction Purpose</label>
                    </td>
                    <td>
                        <select id="purpose" name="purpose" value="{{purpose}}">
                            <option value="Amount Received">Amount Received</option>
                            <option value="Amount Given">Amount Given</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="purpose">Transaction Date</label>
                    </td>
                    <td>
                        <input type="date" id="date" name="date"">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="paymentmode">Payment Mode</label>
                    </td>
                    <td>
                        <select id="paymentmode" name="paymentmode" value="{{paymentmode}}">
                            <option value="Online">Online</option>
                            <option value="Cash">Cash</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="amount">Amount</label>
                    </td>
                    <td>
                        <input type="text" id="amount" name="amount" placeholder="Enter Amount.." value="{{amount}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="comment">Comment</label>
                    </td>
                    <td>
                        <input type="text" id="comment" name="comment" value="{{comment}}">
                    </td>
                </tr>
            </table>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>