.menu-bar {
    background-color: #333;
    text-align: center;
    width:100%;
    font-size:20px;
}

.menu-bar ul {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;

}

.menu-bar ul li {
    width:120px;
    margin:10px;
}

.menu-bar ul li a {
  color: white;
  text-decoration: none;
}

.sub-menu {
    display:none;
}

.menu-bar ul li:hover .sub-menu{
    display:block;
    position:absolute;
    background-color: #333;
}

.menu-bar ul li:hover .sub-menu ul{
    display:block;
    margin 10px;
}

.sub-sub-menu {
    display:none;
}

.sub-menu ul li:hover .sub-sub-menu{
    display:block;
    position:absolute;
    background-color: #333;
    margin-top:-50px;
    margin-left:120px;
}

.active, .menu-bar ul li:hover, .sub-sub-menu ul li:hover {
    background-color: #4CAF50;
}